.first {
    display: flex;
    justify-content: center;
}

img {
   width: 300px;
}


.card {
    width: 30%;
    justify-content: center;
    
}

.card:hover {
    transform: scale(1.1);
}

.first{
    flex-wrap: wrap;
}